.bitcoin__Headerlink {
    font-weight: 800;
    font-size: large;
}

.bitcoin__article {
    display: flex;

}

.bitcoin__articleTextContainer {
    display: flex;
    flex-direction: column;

    padding: 2em;
}


.bitcoin__title {
    font-family: var(--title-font);
    font-weight: 100;
    font-size: xx-large;

}

.bitcoin__subheading {
    font-family: var(--highlights-font);
    font-size: large;
    padding-top: 1em;

}

.bitcoin__bodyText {
    font-family: var(--body-font);
    font-size: medium;
    line-height: 1.7;
}

.bitcoin__bodyText--credits {
    font-size: small;
    padding: .7em 0;
    margin: 1em 0;
}

.bitcoin__articleImg {
    height: 50vh;
    width: 70vh;
    margin: 2em;
    border-radius: 20px;
}

.bitcoin__button {

    font-weight: 600;
    font-size: large;
    background-color: var(--accent-color-dark-shade-03);
    font-family: var(--highlights-font);
    border-style: none;


    text-transform: uppercase;


    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
}

.bitcoin__button:hover {
    background-color: var(--accent-color-dark);
    cursor: pointer;
    color: var(--accent-color-light);

}

.dr__logo:hover {
    width: 2.5em;
}

.dr__logo {
    width: 2em;
}

.podimo__logo {
    width: 5em;
}

.podimo__logo:hover {
    width: 6em;
}

.fa-spotify:hover {
    font-size: 2.5em;
}

.podcast__soMeLinks {
    width: fit-content;
    text-align: right;
    margin: 1em;

}

.bitcoin__buttonContainer {
    display: flex;
    flex-direction: row;
}