.contact__headerLink {
    font-weight: 800;
    font-size: large;
}

.contact__article {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2em;

   

}

.contact__articleTitle {
    font-family: var(--title-font);
    font-weight: 100;
    font-size: xx-large;

}



.contact__articleBodyText {
    font-family: var(--body-font);
    font-size: medium;
    line-height: 1.7;
    padding-top: 1em;
    padding-bottom: 1.5em;
}
.input__label {
    display: flex;
    font-size: large;
    padding: 0 2em;
    align-items: center;
    margin: 0 2em;
    justify-content: center;
    
}

.contact__form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    flex-wrap: wrap;
    font-family: var(--body-font);
    
}

.form__input {
    width: 50%;
    margin: .5em 2em;
    font-size: medium;

    font-family: var(--body-font);
}

.form__submit {
    margin: auto;
}

.form__submitButton {

    font-weight: 600;
    font-size: large;
    background-color: var(--accent-color-dark-shade-03);
    font-family: var(--highlights-font);
    border-style: none;
    text-transform: uppercase;
    width: max-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
    margin: auto;

}

.form__submitButton:hover{
    
        background-color: var(--accent-color-dark);
        cursor: pointer;
        color: var(--accent-color-light);
}


.form__message {
    display: inline-block;
    padding: 10px;
    font-size: small;

}
@media screen and (max-width: 1070px){
    .contact__article{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .input__label{
        justify-content: space-between;
        width: 100%;
    }
    .contact__form{
        width: 100%;
    }
}

