.elonmusk__headerLink {
    font-weight: 600;
    font-size: x-large;
    line-height: .2em;
}

.elonmusk__article {
    display: flex;
    justify-content: space-between;


}

.elonmusk__articleTextContainer {
    display: flex;
    flex-direction: column;
    
    padding: 2em;
}


.elonmusk__title {
    font-family: var(--title-font);
    font-weight: 100;
    font-size: xx-large;

}

.elonmusk__subheading {
    font-family: var(--highlights-font);
    font-size: x-large;
    padding: .7em 0;

}

.elonmusk__bodyText {
    font-family: var(--body-font);
    font-size: 20px;
    line-height: 1.5;
    padding: 1em 0;
}

.elonmusk__articleImg {
    height: 75vh;
    margin: 2em;
    border-radius: 20px;
}

.elonmusk__button {

    font-weight: 600;
    font-size: x-large;
    background-color: var(--accent-color-dark-shade-03);
    font-family: var(--highlights-font);
    border-style: none;


    text-transform: uppercase;


    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
}

.elonmusk__button:hover {
    background-color: var(--accent-color-dark);
    text-decoration: underline;
    cursor: pointer;
    color: var(--accent-color-light);

}
