.elonmusk__headerLink {
    font-weight: 800;
    font-size: large;
   
}

.elonmusk__article {
    display: flex;
    justify-content: space-between;


}

.elonmusk__articleTextContainer {
    display: flex;
    flex-direction: column;
    
    padding: 2em;
}


.elonmusk__title {
    font-family: var(--title-font);
    font-weight: 100;
    font-size: xx-large;

}

.elonmusk__subheading {
    font-family: var(--highlights-font);
    font-size: large;
    padding-top: 1em;

}

.elonmusk__bodyText {
    font-family: var(--body-font);
    font-size: medium;
    line-height: 1.7;
    padding-bottom: 1em;
    
}

.elonmusk__articleImg {
    height: 75vh;
    margin: 2em;
    border-radius: 20px;
}

.elonmusk__button {

    font-weight: 600;
    font-size: large;
    background-color: var(--accent-color-dark-shade-03);
    font-family: var(--highlights-font);
    border-style: none;


    text-transform: uppercase;


    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
}

.elonmusk__button:hover {
    background-color: var(--accent-color-dark);
    cursor: pointer;
    color: var(--accent-color-light);

}
@media screen and (max-width: 1070px){
    .elonmusk__article {
        display: flex;
       
        flex-direction: column-reverse;
    }

    .elonmusk__articleTextContainer {
        padding: 0 1.5em;
    }

    .elonmusk__articleImg {
        height: 40vh;
        width: auto;
        
    }
}
