.footer__container {
    background-color: #DC9D58;
    margin-top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

.footer__svg {
    width: 100%;
    margin-top: 0;
    display: block;
}

.footer__menu {
    margin: 0 0 0 10em;
}

.footer__linksTitle {
    font-family: var(--highlights-font);
    font-weight: 800;
    font-size: 30px;
    height: fit-content;
    width: fit-content;


    text-align: start;



}

.footer__links {
    font-family: var(--body-font);
    font-size: 18px;

    font-weight: 100;
    width: max-content;

    list-style: none;

    line-height: 1.5;

}

.footer__links:hover {
    text-decoration: underline;
}


a {
    color: black;
}

.footer__copyright {
    background-color: #DC9D58;
    text-align: center;
    padding: 2em;
}

.copyright__container {

    margin-left: 30%;
}

.footer__contactTitle {
    font-family: var(--highlights-font);
    font-weight: 800;
    font-size: 30px;
    height: fit-content;


    text-align: right;
    width: 300px;

}

.fa-brands {
    font-size: xx-large;
    padding: .2em;

}

.footer__socials {
    display: flex;
    flex-direction: row;
    margin-right: 10em;
}

@media screen and (max-width: 1070px) {

    .footer__menu {
        margin: 0;
        text-align: left;
        padding: 0 2em;
        width: 100%;
    }
    .footer__svg {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    .footer__linksTitle {
        text-align: left;
        padding: 0;
    }

    .footer__container {
        background-color: #DC9D58;


        display: flex;
        flex-direction: column;
       flex-wrap: wrap;
        text-align: left;
        margin: 0 auto;
        padding: 0 2em;
        width: 100%;
    }

    .footer__socials {
        display: flex;
        flex-direction: row;
        margin: 0 2em;
        padding: .5em;
        
    }

    .copyright__container{
        margin: auto;

    }
    
}

@media screen and (max-width: 464px){
    .footer__menu {
       overflow-x: hidden;
       
    }

    .footer__links {
        width: fit-content;
    
        list-style: none;
    
        line-height: 1.7;
        padding: .5em 0;
    
    }
    .footer__socials {
      
        margin: auto;
        
    }
}