.frontpage__heroContainer {
    margin: 1em 0 2em 0;
    background-color: var(--primary-color-shade-05);
    width: 100%;
    display: flex;
}

.hero__textContainer {
    display: flex;
    flex-wrap: wrap;

}

.hero__img {
    margin: 2em;
}

.frontpage__heroTitle {
    background-color: var(--accent-color-dark);
    color: var(--accent-color-light);
    font-family: var(--highlights-font);
    font-weight: 100;
    text-transform: uppercase;

    width: 60%;
    height: 8%;
    padding: .5em;
    letter-spacing: .3em;
    margin: 2em .3em .5em .5em;
}

.hero__text {
    font-family: var(--body-font);
    color: var(--accent-color-light);

    font-size: 20px;
    padding: 0.5em;
    line-height: 1.5;
    margin: 0 .5em;

}

.hero__button{
    padding: .6em;
    font-weight: 500;
    font-size: 17px;
    background-color: #E3B079;
    font-family: var(--highlights-font) ;
    border-style: none;
    color: var(--accent-color-light);
  
    width: fit-content;
    margin: 1em;
}

.hero__button:hover, .hero__buttonLast:hover{
 background-color: var(--accent-color-dark);
 text-decoration: underline;

}

.frontpage__heroContainerLast{
    margin: 1em 0 .5em 0;
    
    width: 100%;
    display: flex;
}

.hero__textLast {
    font-family: var(--body-font);

    font-size: 20px;
    padding: 0.5em;
    line-height: 1.5;
    margin: 2em;
}
.frontpage__heroTitleLast{
    background-color: var(--accent-color-dark);
    color: var(--accent-color-light);
    font-family: var(--highlights-font);
    font-weight: 100;
    text-transform: uppercase;

    width: 80%;
    height: 10%;
    padding: .5em;
    letter-spacing: .3em;
    margin: 0 2em;
}

.hero__buttonLast{
    padding: .6em;
    font-weight: 500;
    font-size: 17px;
    background-color: #E3B079;
    font-family: var(--highlights-font) ;
    border-style: none;
    color: var(--accent-color-light);
    text-align: center;
  
    width: fit-content;
    margin: 0 2em;
}

.frontpage__heroTitleLast--size{
    text-transform: lowercase;
    letter-spacing: .1em;
}