.kasijesper__headerLink {
    font-weight: 800;
    font-size: large;
}

.kasijesper__article {
    display: flex;

}

.kasijesper__articleTextContainer {
    display: flex;
    flex-direction: column;

    padding: 2em;
}


.kasijesper__title {
    font-family: var(--title-font);
    font-weight: 100;
    font-size: xx-large;

}

.kasijesper__subheading {
    font-family: var(--highlights-font);
    font-size: large;
    padding-top: 1em;

}

.kasijesper__bodyText {
    font-family: var(--body-font);
    font-size: medium;
    line-height: 1.7;
    padding-bottom: 1.5em;
}

.kasijesper__articleImg {
    height: 75vh;
    margin: 2em;
    border-radius: 20px;
}

.kasijesper__button {

    font-weight: 600;
    font-size: large;
    background-color: var(--accent-color-dark-shade-03);
    font-family: var(--highlights-font);
    border-style: none;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
   
}

.kasijesper__button:hover {
    background-color: var(--accent-color-dark);
    cursor: pointer;
    color: var(--accent-color-light);

}

.kasijesper__review {
    display: flex;
    justify-content: space-evenly;

}

.kasijesper__reviewBox {
    font-family: var(--body-font);
    box-shadow: -6px 6px 16px 3px var(--primary-color);
    text-align: center;
    font-size: large;
    width: 42vh;
    height: 28vh;
    transition: box-shadow .5s ease;
}

.kasijesper__reviewBox:hover {
    box-shadow: -6px 6px 16px 6px var(--primary-color);
}

.kasijesper__reviewText {
    padding: 2em 1em;
    line-height: 1.5;
}

.kasijesper__reviewTextAuthor {
    font-family: var(--highlights-font);
    padding: .5em;
}

.kasijesper__media {
    padding-top: 3rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kasijesper__mediaTitle {
    font-family: var(--highlights-font);
    font-size: x-large;
    text-align: center;
}

.kasijesper__mediaGenstart {
    width: 5em;
    border-radius: 50%;
  
}

.media__link{
    display: flex;
   
}

.kasijesper__mediaText {
    font-family: var(--body-font);
    font-size: medium;
    padding: 1.5em 1em;

}

.genstart__container, .tv2__container, .bt__container, .eb__container {
    margin: 0 2em;
    border-radius: 20px;
    width: fit-content;
    transition: box-shadow .5s ease;
    padding: 1em;
}

.genstart__container:hover, .tv2__container:hover, .bt__container:hover, .eb__container:hover {
    box-shadow: -6px 6px 16px 6px var(--accent-color-dark-shade-03);
}

.kasijesper__mediaTV2{
    width: 4em;
    
}
.kasijesper__mediaBT{
    width: 5em;
}

.kasijesper__mediaEB{
    width: 3em;
}