.frontpage__news{
   
    width: 50em;
    height: 20em;
    margin: 1em 1em 1em 2em;

}

.news__title{
    background-color: var(--accent-color-dark);
    color: var(--accent-color-light);
    font-family: var(--highlights-font);
    font-weight: 100;
    text-transform: uppercase ;
    padding: 0.5em;

    letter-spacing: .5em;
}

.news__text{
    font-family: var(--body-font);
    font-size: medium;
    padding: 0.4em;
    line-height: 1.7;
  
}

.news__button{
    padding: .6em;
    font-weight: 500;
    font-size: 17px;
    background-color: var(--accent-color-dark-shade-03);
    font-family: var(--highlights-font) ;
    border-style: none;
    margin-left: .4em;
    margin-top: 3em;
}

.news__button:hover{
    background-color: var(--accent-color-dark);
    color: var(--accent-color-light);
}

@media screen and (max-width: 1070px){
    .frontpage__news{
        margin: auto;
        border: solid;
        width: 80%;
        height: max-content;
        padding: 1em;
    }

    .frontpage__newsSliderContainer{
        padding: 1em;
    }
}
@media screen and (max-width: 464px){
    .frontpage__news{
    
        width: 100%;
        height: max-content;
        padding: .5em;
      
    }

    .news__title{
        padding: 0.5em;
        font-size: medium;
        letter-spacing: .1em;
    }
    .news__button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}