.ryanair__headerLink {
    font-weight: 600;
    font-size: x-large;
    line-height: .2em;
}

.ryanair__article {
    display: flex;

}

.ryanair__articleTextContainer {
    display: flex;
    flex-direction: column;

    padding: 2em;
}


.ryanair__title {
    font-family: var(--title-font);
    font-weight: 100;
    font-size: xx-large;

}

.ryanair__underTitle{
    font-size: large;
    font-family: var(--title-font);
    font-weight: 100;
    
}

.ryanair__subheading {
    font-family: var(--highlights-font);
    font-size: x-large;
    padding: .7em 0;

}

.ryanair__bodyText {
    font-family: var(--body-font);
    font-size: 20px;
    line-height: 1.5;
    padding: 1em 0;
}

.ryanair__articleImg {
    height: 45vh;
    margin: 5em 2.5em;
    border-radius: 20px;
}

.ryanair__button {

    font-weight: 600;
    font-size: x-large;
    background-color: var(--accent-color-dark-shade-03);
    font-family: var(--highlights-font);
    border-style: none;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    padding: 1em;
    border-radius: 20px;
    margin: 0 .5em;
}

.ryanair__button:hover {
    background-color: var(--accent-color-dark);
    text-decoration: underline;
    cursor: pointer;
    color: var(--accent-color-light);

}

.ryanair__review {
    display: flex;
    justify-content: space-evenly;

}

.ryanair__reviewBox {
    font-family: var(--body-font);
    box-shadow: -6px 6px 16px 3px var(--primary-color);
    text-align: center;
    font-size: large;
    width: 42vh;
    height: 30vh;
    transition: box-shadow .5s ease;
}

.ryanair__reviewBox:hover {
    box-shadow: -6px 6px 16px 6px var(--primary-color);
}

.ryanair__reviewText {
    padding: 2em 1em;
    line-height: 1.5;
}

.ryanair__reviewTextAuthor {
    font-family: var(--highlights-font);
    padding: .5em;
}

.ryanair__media{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ryanair__mediaTitle {
    font-family: var(--highlights-font);
    font-size: x-large;
    text-align: center;
    margin: 2em;
}

.media__link{
    display: flex;
   
   
}

.ryanair__mediaText {
    font-family: var(--body-font);
    font-size: medium;
    padding: 1.5em 1em;

}

 .bt__container{
    margin: 0 2em;
    border-radius: 20px;
    width: fit-content;
    transition: box-shadow .5s ease;
    padding: 1em;
}

 .bt__container:hover{
    box-shadow: -6px 6px 16px 6px var(--accent-color-dark-shade-03);
}

.ryanair__mediaBT{
    width: 5em;
}
