:root{
    --primary-color: #6A8E7F;
    --secondary-color: #171A21;
    --accent-color-dark: #D58936;
    --accent-color-light: #F7F3E3;

    --primary-color-shade-05: #83A194;
    --accent-color-dark-shade-03: #EAC49A;

    --title-font: 'Bodoni Moda', serif;
    --highlights-font: 'Bodoni Moda', serif; font-weight: 600;
    --body-font: 'Domine', serif;

}